/* General Styling */
.contactBody {
    padding-top: 60px;
    padding-bottom: 124px;
    padding-left: 100px;
    padding-right: 100px;
    height: 95vh;
    text-align: center;
}

/* Form Styling */
.formBody {
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: center;
    width: 775px;
    margin: 0 auto;
}

.contactSubHeader {
    margin: 40px 0px;
    text-align: center;
}

.formBody label {
    padding-right: 10px;
}

.formBody div input:first-of-type {
    margin-right: 20px;
}

.formBody textarea {
    margin: 20px 0px;
    resize: none;
}

/* .formBody input[type=submit] {
    border-radius: 10px;
} */