
/* Navigation Bar Styling */
nav {
    background-color: #1A1341;
}

.nav-list {
    list-style-type: none;
    display: inline;
    margin: 10px 0px;
}

.nav-item {
    margin: 0px 10px;
}

.nav-item > a {
    color: white;
    text-decoration: none;
}

.nav-item > a:hover {
    color: white;
}

/* General Styling */
.page-heading {
    text-align: center;
    margin-top: 20px;
}

.page-subheading {
    text-align: center;
}

.skills-list-heading {
    text-align: center;
    margin: 60px 0px 30px 0px;
}

.skills-list {
    list-style-type: none;
}