section {
    height: 100vh;
    margin: 0;
    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.one {
    background: green;
}

.two {
    background: yellow;
}

.three {
    background: blue;
}