/* General Styling */
.navBody {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.navBrand {
    text-decoration: none;
}

.navItem {
    text-decoration: none;
}

.navItem + .navItem {
    margin-left: 50px;
}

