/* General Styling */
.card {
    width: 220px;
    height: 100px;
}

.card + .card {
    margin-left: 100px;
}

.cardContent {
    position: relative;
    background-color: #092020;
    transition: transform 3s;
    transform-style: preserve-3d;
}

.card:hover .cardContent {
    transform: rotateY(.5turn);
}

.cardFront, .cardBack {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
}

.cardFront {
    
}

.cardBack {
    transform: rotateY(.5turn);
}

.cardTitle {
    transform: translateZ(100px);
}
