/* General Styling */
.cardDisplay {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 40px;
}

.card {
    width: 220px;
    height: 100px;
}

.cardContent {
    position: relative;
    transition: transform 3s;
    transform-style: preserve-3d;
}

.card:hover .cardContent {
    transform: rotateY(.5turn);
}

.cardFront, .cardBack {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.cardFront {
    
}

.cardBack {
    transform: rotateY(.5turn);
}

.cardTitle {
    transform: translateZ(6rem);
}

.cardBody {
    transform: translateZ(5rem);
}