/* General Styling */
.footerBody {
    background: #040F0F;
    padding: 15px 0px;
    width: 100%;
    position: fixed;
    bottom: 0%;
}

.footerBody p {
    color: white;     
}

.footerIcon {
    text-decoration: none;
}

