/* General Styling */
.aboutMeBody {
    height: 95vh;
    width: 100%; 
    padding-top: 100px;
    padding-bottom: 100px;
    display:flex;
    justify-content: center;
    align-items: start;
}

.aboutMeTextBody {
    font-size: 20px;
    width: 525px;
    text-align: left;
    margin-right: 150px;
}

.aboutMeTextBody h2 {
    font-size: 40px;
}

.aboutMeTextBody p {
    font-size: 20px;
}

.headshot {
    float: right;
    width: 250px;
    height: 100%;
}