/* General Styling */
.carouselImage {
    height: 100vh;
    width: 100vw;
}

.container {
    position: absolute;
    bottom: 20%;
    left: 15%;
    height: 220px;
    width: 470px;
    border: 1px solid white;
    border-radius: 50px;
}

.containerBody {
    top: 30%;
    left: 10%;
    position: absolute;
    text-align: start;
}

.containerBody > p {
    margin-bottom: 0px;
}